$btn-color-pink: #FF3E79;
$btn-color-darkpink: #92324f;
$font-color-dark: #1B1C21;
$font-color-light: #7E7E82;
$bcg-color-white: #fff;
$icons-color-green: #41F6D7;
$form-color-grey: #B5B6BC;

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "TTLakes";
  background: #f2f2f2;
  display: flex;
  justify-content: center;
}

.wrapper-modal {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  max-width: 100%;
}

.wrapper {
  display: inline-flex;
  max-width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
}

.wrapper-blur {
  filter: blur(2px);
}
