/* _____________________Секция-бренды_____________________________ */

.brands {
  width: 100%;
  background: #F8F8F8;
  padding-bottom: 25px;

  &__images-wrap {
    width: 100%;
    padding: 25px 0 0 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
  }



  &__images-item {
    height: 72px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 16px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $bcg-color-white;
    border-radius: 6px;
    // width: 230px;
    max-width: 230px;
    margin-right: 25px;
    margin-bottom: 8px;
  }

  &__images-wrap-hidden {
    height: 180px;
    overflow: hidden;
  }

  &__images-item-hidden {
    visibility: hidden;
  }

  /* _____________________@media Секции-бренды_____________________________ */

  @media (min-width: 769px) and (max-width: 1119px) {

    &__images-item {
      width: 29%;
    }

    &__images-wrap {
      justify-content: space-around;
    }

  }

  @media (max-width: 768px) {

    &__images-wrap {
      flex-wrap: nowrap;
      justify-content: space-between;
      overflow: scroll;
    }

    &__images-item {
      min-width: 230px;
    }

    &__images-wrap-hidden {
      height: 180px;
      overflow: visible;
    }

  }
}
